-<h1> All Artists </h1>

<% @artists.each do |artist| %>
  <section id = "artist-<%= artist.id %>">
    <%= artist.name %>
    <%= button_to 'Delete', "/artists/#{artist.id}", method: :delete %>
    <%= link_to 'Edit', "/artists/#{artist.id}/edit" %>
  </section>
<% end %>


<%= link_to 'New Artist', '/artists/new' %>
